.colorAzul {
  --background: rgb(73, 73, 206);
  --color: white;
}

.logo-menu {
  width: 100px;
  height: auto;
}

.centered-text {
  text-align: center;
}

.centered-image {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Estilo para los nombres de los desarrolladores */
ion-footer ion-label {
  display: block;
  margin-top: 5px;
}

.servicios-card img {
  max-height: 150px;
  width: auto;
  margin: 0 auto;
}

.centered-card {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}



.centered-title {
  text-align: center;
}

.titulo {
  margin-top: 30px;
  text-align: center;
}

/* Estilo para centrar verticalmente el menú y el saludo en el encabezado */
.header-content {
  display: flex;
  align-items: center; /* Alinea verticalmente */
  width: 100%;
}
.centered-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px; /* Espacio entre el contenido anterior y el botón de escáner */
}

.centered-button ion-icon {
  font-size: 2rem; /* Tamaño del icono ajustado según tus preferencias */
}
